@font-face {
	font-family: 'BYekan';
	src: url(../fonts/BYekan.eot?#) format("eot"), url(../fonts/BYekan.woff) format("woff"), url(../fonts/BYekan.ttf) format("truetype")
}

@font-face {
	font-family: 'WYekan';
	src: url(../fonts/YekanWeb-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'WYekan';
	src: url(../fonts/YekanWeb-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

*,
::before,
::after {
	box-sizing: border-box
}

body {
	font-size: 100%;
	direction: rtl;
	margin: 0;
	font-family: WYekan, BYekan, tahoma
}

h2,
h1 {
	font-family: WYekan, BYekan, tahoma;
	line-height: 20px;
	margin: 10px;
	color: #717172
}

h2 {
	font-size: 16px
}

h1 {
	font-size: 20px
}

p {
	font-size: 100%;
	font-family: WYekan, BYekan, tahoma;
	line-height: 15px;
	margin: 0;
	color: #0D0707
}

label {
	color: #1d1d1d;
	font-family: WYekan, BYekan, Tahoma;
	font-size: 16px
}

legend {
	padding: 10px 20px;
	color: #5B5C5C;
	font-family: BKoodakBold, Tahoma;
	font-size: 130%
}

strong {
	margin-right: 30px;
	float: right
}

fieldset {
	border: 0 none
}

.container.TopUp fieldset,
.container.PIN fieldset,
.container.WiMax fieldset {
	margin-right: 0!important
}

div.form {
	padding: 10px 20px;
	direction: rtl
}

.clear {
	clear: both
}

.bgs {
	display: none;
	width: 100%
}

div.container {
	width: 78%;
	height: 560px;
	float: right
}

.operators {
	height: auto;
	-webkit-margin-top-collapse: discard
}

.operators div {
	cursor: pointer;
	float: right;
	height: 62px;
	width: 25%
}

.operator.MTN {
	background: url(../img/operators.png) no-repeat center 0
}

.operator.MCI {
	background: url(../img/operators.png) no-repeat center -64px
}

.operator.RTL {
	background: url(../img/operators.png) no-repeat center -128px
}
div#content {
	width: 100%;
	float: right
}

.container.verify div#content {
	float: none
}

.container.Bill div#content,
.container.GiftCard div#content,
.container.TrafficCard div#content,
.container.Antivirus div#content {
	width: auto;
	float: none
}

div#content input,
#save-information input {
	background-color: #f6f4f5;
	border-style: hidden;
	border-width: 2px;
	font-family: WYekan, BYekan, Tahoma;
	font-size: 100%;
	padding: 5px 5px 5px 30px;
	text-align: center;
	width: 100%;
	height: 35px
}

div#content select {
	background-color: #f6f4f5;
	border-style: hidden;
	border-width: 2px!important;
	color: #5c5c5c;
	font-family: WYekan, BYekan, Tahoma;
	font-size: 100%;
	height: 38px;
	text-align: center;
	text-align: center
}

div#content input[type="text"] {
	letter-spacing: 2px
}

.container.MTN {
	background-color: #FFBD00;
	height: 576px;
}

.container.MCI {
	background-color: #52C1DC;
	height: 576px;
}

.container.RTL {
	background-color: #920E61;
	height: 576px;
}

.container.WiMax {
	background-color: #0B9DA4;
	height: 576px;
}

.container.Bill {
	background-color: #853BD9;
	height: 576px;
}

.container.GiftCard {
	background-color: #FF7400;
	height: 576px;
}

.container.Antivirus {
	background-color: #2B6AAF;
	height: 576px;
}
.container.Application {
	background-color: #96C120;
	height: 576px;
}

.container.Support {
	background-color: #055058;
	height: 576px;
}

.container.InternetPackage {
	background-color: #B51A05;
	height: 576px;
}

.container.TopUp .MTN,
.container.PIN .MTN,
.container.InternetPackage .MTN,
.container.InternetPackage.MTN,
.container.WiMax .MTN {
	background-color: #FFBD00!important
}

.container.TopUp .MCI,
.container.InternetPackage .MCI,
.container.InternetPackage.MCI,
.container.PIN .MCI {
	background-color: #52C1DC!important
}

.container.TopUp .RTL,
.container.InternetPackage .RTL,
.container.InternetPackage.RTL,
.container.PIN .RTL {
	background-color: #920E61!important
}
div#content input:hover {
	color: #000
}

div#content input:focus {
	color: #000
}

input#dataAccountTemp:hover,
input#cellphone:hover {
	background-image: url(../img/mobile-h.png)
}

input#dataAccountTemp:focus,
input#cellphone:focus {
	background-image: url(../img/mobile-f.png)
}

input#EmailInput:hover,
input#email:hover {
	background-image: url(../img/email-h.png)
}

input#EmailInput:focus,
input#email:focus {
	background-image: url(../img/email-f.png)
}

input#dataAccountTemp,
input#cellphone {
	background: url(../img/mobile.png) no-repeat #3e7aac;
	background-position: 3px 5px;
	text-align: left!important;
	direction: ltr
}

input#cellphone {
	text-align: center!important;
	letter-spacing: 0!important
}

input#EmailInput,
input#email {
	background: url(../img/email.png) no-repeat #3e7aac;
	background-position: 13px 14px;
	font-size: 140%!important
}

div#content select#dataAmountTemp {
	width: 100%;
	height: 35px;
	border: 1px hidden #D6D4D5;
	color: #5C5C5C;
	background-repeat: no-repeat;
	background-color: #F6F4F5;
	background-position: 13px 14px;
	font-family: WYekan, BYekan, Tahoma;
	text-align: center
}

input#EmailInput,
input#email {
	background: url(../img/email.png) no-repeat #3e7aac;
	background-position: 3px 5px;
	font-size: 100%!important
}

div#content input[type="submit"]:hover,
div#content input[type="button"]:hover {
	text-shadow: 1px 2px 2px #fff;
	background-color: #75839d
}

.submit input:hover {
	text-shadow: 1px 2px 2px #fff
}

div#content div#MagicCharge {
	box-shadow: 0 0 0 #000;
	border-radius: 0;
	text-align: right;
	color: #5B5C5C;
	font-family: BKoodakBold, Tahoma;
	font-size: 100%;
	height: auto;
	margin: 8px auto
}

qtip-content p {
	font-size: 13px;
	color: #3f6219;
	line-height: 20px!important
}

.qtip-content p img {
	margin-bottom: -5px
}

.bank-qtip {
	border-width: 1px!important
}

.bank-qtip .qtip-content {
	font-size: 11px!important;
	color: #fff;
	text-align: center!important;
	padding: 0 5px
}

input#magiccharge,
input#NonCreditMTN,
input#save-information {
	border-radius: 5px!important;
	width: 10px!important;
	height: 10px!important;
	padding: 10px!important
}

.error-message,
.message {
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	color: #B94A48;
	margin: 3px;
	padding: 4px;
	font-family: WYekan, BYekan, tahoma;
	font-size: 13px;
	text-align: center
}

.alert-admin {
	background: url(../img/icon_admin.png) no-repeat scroll 97% 7px #EFEFEF;
	background-color: #E5EFFA;
	border: 1px solid #D3DFEB!important
}

.input,
.text {
	clear: right
}

.alert {
	direction: rtl;
	margin: 20px 10px;
	padding: 8px;
	border-radius: 10px;
	font-family: WYekan, BYekan, tahoma;
	border: 1px solid #E6E6E4
}

.menu {
	float: left;
	margin: -80px 0 0 30px;
	position: relative
}

.menu span {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	cursor: pointer;
	padding: 4px 30px 9px 16px;
	margin-right: 20px;
	background-color: #87B43F;
	display: inline-block;
	width: auto;
	color: #FFF;
	text-align: center;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-khtml-border-radius: 0 0 10px 10px
}

.menu span a {
	color: #fff;
	text-decoration: none
}

.qtip {
	border-width: 3px
}

.qtip-content {
	font-family: WYekan, BYekan, tahoma;
	font-size: 13px;
	line-height: 2;
	direction: rtl;
	text-align: justify!important
}

.nav-menu .qtip-content {
	font-size: 17px!important
}

.qtip-content p {
	color: #3f6219;
	font-size: 13px;
	line-height: 20px!important
}

div.addScript {
	position: relative;
	left: 91%;
	top: 1px
}

.addScript {
	margin: 0;
	width: 0
}

.addScript p {
	margin: 0;
	width: 0
}

.addScript p>a>img {
	width: 0;
	height: 0
}

.addScript a>img {
	margin-top: 3px
}

div #desc h1,
div #desc p {
	font-size: 13px;
	font-weight: 400;
	font-family: WYekan, BYekan, tahoma;
	line-height: 20px;
	margin: 5px 2px 5px 22px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 2px 1px #BBBABA
}

div #desc h1 {
	font-size: 16px
}

form label.alert {
	display: block;
	padding: 20px;
	border: none
}

div .loading {
	display: none
}

div.payment-gateways {
	text-align: right;
	display: inline-block
}

div.payment-gateways ul li {
	border: 2px solid #75839d!important
}
div.payment-gateways {
	display: inline-block;
	text-align: right
}

div.payment-gateways p {
	text-align: right
}

div.payment-gateways p i {
	font-style: normal;
	margin: 0 5px
}

div.payment-gateways p {
	padding-bottom: 10px
}

div.payment-gateways ul {
	width: 102%;
	margin: 0 auto;
	padding: 0;
	float: right
}

div.payment-gateways li.active {
	border: 2px solid #C44E06!important;
	background-color: #FCE4A1
}

div .loading {
	display: none
}

#AmountTopUpMTNTemp {
	display: none
}

.wimax-picture {
	display: none
}

div.container.WiMax form.WiMax .wimax-picture {
	display: block
}

div.container.TopUp form.MTN #AmountTopUpMTNTemp,
div.container.WiMax form.WiMax #AmountTopUpMTNTemp {
	display: block!important
}

div.container.TopUp form.RTL div.Magiccharge,
div.container.TopUp form.MTN div.Magiccharge,
div.container.TopUp form.MTN div.NonCreditMTN {
	display: block!important
}

div.container.WiMax form.WiMax #AmountTopUpMTNTemp {
	display: block!important
}

.amount {
	float: right
}

form div.submit input {
	color: #FFF;
	cursor: pointer
}

form.MTN div.submit input {
	background-color: #FFBD00;
	border: 1px solid #F5B51F
}

div.Magiccharge,
div.NonCreditMTN {
	text-align: right;
	display: none
}

div.input {
	padding: 0;
	width: 100%;
	width: 100%;
	padding: 0
}

.show {
	display: block!important
}

.hide {
	display: none!important
}

div.container.TopUp div.counter,
div.container.WiMax div.counter {
	display: none!important
}

div.container.PIN div.counter {
	display: block!important
}

div.container div.charge,
div.container div.Bill {
	display: none
}

div.container.TopUp div.charge,
div.container.PIN div.charge,
div.container.WiMax div.charge {
	display: block!important
}

div.container.Bill div.Bill {
	display: block!important
}
div.operators.InternetPackage {
	display: block;
}
div.operators.WiMax div.MCI,
div.operators.WiMax div.RTL,
div.operators.WiMax div.MTN {
	display: none
}

div.operators.Bill > div,
div.operators.TrafficCard > div,
div.operators.GiftCard > div,
div.operators.Antivirus > div,
div.operators.Support > div {
	display: none
}

div.operators.GiftCard > div.MTN,
div.operators.GiftCard > div.MCI,
div.operators.GiftCard > div.RTL{
	display: none
}

.irs {
	font-family: 'BYekan', tahoma
}

.irs-max {
	display: block!important
}

.irs-from,
.irs-to,
.irs-single {
	font-size: 12px!important;
	top: -4px!important;
	left: 16px
}

table {
	font-size: 13px;
	font-family: WYekan, BYekan, tahoma;
	line-height: 20px;
	margin: 50px auto;
	color: #717172;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid #868080!important
}

td {
	padding: 8px 10px;
	border: 2px solid #868080;
	text-align: center
}

table > tbody > tr:nth-child(2n) > td,
table > tbody > tr:nth-child(2n) > th {
	background-color: #F2F2F2
}

img.success {
	width: 220px;
	height: 230px;
	margin: 60px 40px 0 0
}

a.mainpage:hover {
	text-shadow: 1px 2px 2px #000
}

p.caution {
	font-size: 12px;
	padding: 0 5px!important;
	text-align: justify!important
}

div.container.Bill div.payment-gateways,
div.container.Bill div.submit,
div.container.GiftCard div.payment-gateways,
div.container.GiftCard div.submit,
div.container.Antivirus div.payment-gateways,
div.container.Antivirus div.submit {
	display: none
}

div.billId input,
div.paymentId input {
	letter-spacing: 0!important
}

div.container.Bill div.verify {
	display: none
}

.bill {
	width: 100%
}

table#bill-info td span {
	margin: 2px
}

table#bill-info td span#type-title {
	margin: 0;
	height: 15px;
	line-height: 18px;
	display: block
}

table#bill-info td span.bill {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto
}

table#bill-info td span.bill.water {
	background: url(../img/bill-operators.png) no-repeat 0 0
}

table#bill-info td span.bill.electricity {
	background: url(../img/bill-operators.png) no-repeat -48px 0
}

table#bill-info td span.bill.gas {
	background: url(../img/bill-operators.png) no-repeat -96px 0
}

table#bill-info td span.bill.telephone {
	background: url(../img/bill-operators.png) no-repeat -144px 0
}

table#bill-info td span.bill.cellphone {
	background: url(../img/bill-operators.png) no-repeat -192px 0
}

table#bill-info td span.bill.mayoralty {
	background: url(../img/bill-operators.png) no-repeat -240px 0
}

table#bill-info td span.bill.police {
	background: url(../img/bill-operators.png) no-repeat -288px 0
}

.container.GiftCard > .GiftCard.operators,
.TrafficCard.operators,
.Bill.operators,
.Antivirus.operators {
	width: 0
}

.container .GiftCard {
	display: none
}

.container.TopUp .GiftCard,
.container.PIN .GiftCard,
.container.WiMax .GiftCard,
.container.Bill .GiftCard,
.container.Antivirus .GiftCard,
.container.TrafficCard .GiftCard,
.container.Support .GiftCard,
.container.Application .GiftCard,
.container.Application .PIN {
	display: none
}

.container.GiftCard .GiftCard {
	display: block
}

.container.GiftCard .info {
	font-family: WYekan, BYekan, Tahoma;
	font-size: 13px;
	color: #292A2D
}

.container.GiftCard .info div {
	float: right;
	display: inline-block
}

.container.GiftCard .info .title {
	font-size: 100%;
	margin-top: 5px;
	width: 150%
}

.container.GiftCard .info .description {
	width: 170%;
	text-align: right
}

.container.GiftCard .GiftCard .buy {
	display: none
}

.container.InternetPackage .InternetPackage .buy {
	display: none;
}

fieldset .GiftCard .operators {
	width: 100%
}

.GiftCard.operator {
	background-size: 200% 400%!important;
	width: 150px;
	height: 80px;
	margin: 5px 3px 3px 10px;
	cursor: pointer
}

.operator.GooglePlay {
	background: url(../img/gift-cards.png) no-repeat -149px 0
}

.operator.Microsoft {
	background: url(../img/gift-cards.png) no-repeat 0 0
}

.operator.iTunes {
	background: url(../img/gift-cards.png) no-repeat -149px -80px
}

.operator.Amazon {
	background: url(../img/gift-cards.png) no-repeat 0 -79px
}

.operator.XBox {
	background: url(../img/gift-cards.png) no-repeat -149px -160px
}

.operator.PlayStation {
	background: url(../img/gift-cards.png) no-repeat 0 -159px
}

.operator.PlayStationPlus {
	background: url(../img/gift-cards.png) no-repeat -149px -240px
}

.container.TopUp .Application,
.container.PIN .Application,
.container.WiMax .TrafficCard,
.container.Bill .TrafficCard,
.container.Antivirus .TrafficCard,
.container.GiftCard .TrafficCard {
	display: none
}

.container.TrafficCard .TrafficCard {
	display: block
}

.container.TrafficCard .TrafficCard .caution.description {
	font-size: 13px;
	margin: 0 30px;
	text-align: right;
	padding-left: 0!important
}

.container.TrafficCard #logo-container,
.container.GiftCard #logo-container,
.container.Antivirus #logo-container {
	margin-top: 140px
}

.amount-container {
	background-color: #f5f6f6;
	color: #5c5c5c;
	float: right;
	font-family: WYekan, BYekan;
	height: 31px;
	width: 117px;
	margin-right: 0;
	font-size: 16px!important
}

.count {
	float: right;
	width: 175px
}

.amount-container span {
	display: block;
	float: right
}

.amount-container .amount-title {
	background-color: #ECEDEF;
	height: 27px;
	width: 30px;
	line-height: 31px;
	padding-right: 3px
}

.amount-container .amount-value {
	display: inline-block;
	font-size: 80%!important;
	font-weight: 700;
	padding: 2px 0 2px 5px;
	text-align: left;
	width: 54px;
	line-height: 28px
}

.amount-container .amount-unit {
	font-size: 13px;
	line-height: 33px;
	padding: 0
}

.amount-unit {
	padding-right: 3px!important
}

.container.Support .Antivirus,
.container.Application .Antivirus,
.container.TopUp .Antivirus,
.container.PIN .Antivirus,
.container.WiMax .Antivirus,
.container.Bill .Antivirus,
.container.GiftCard .Antivirus,
.container.TrafficCard .Antivirus {
	display: none
}

.container.TopUp .InternetPackage,
.container.PIN .InternetPackage,
.container.WiMax .InternetPackage,
.container.Bill .InternetPackage,
.container.Bill .InternetPackage,
.container.GiftCard .InternetPackage,
.container.Antivirus .InternetPackage,
.container.Application .InternetPackage,
.container.Support .InternetPackage {
	display: none;
}

.container .InternetPackage .TopUp,
.container.InternetPackage .PIN,
.container.InternetPackage .WiMax,
.container.InternetPackage .Bill,
.container.InternetPackage .Bill,
.container.InternetPackage .GiftCard,
.container.InternetPackage .Antivirus,
.container.InternetPackage .Application,
.container.InternetPackage .Support {
	display: none;
}

.container.InternetPackage .MTN,
.container.InternetPackage .MCI,
.container.InternetPackage .RTL{
	display: block;
}

.service-caution {
	background: url(../img/caution.png) no-repeat scroll center 4px rgba(0, 0, 0, 0);
	font-size: 19px;
	line-height: 30px;
	margin: 140px 50px;
	padding-top: 140px;
	width: 300px
}

.container.Antivirus .Antivirus {
	display: block
}

.container.Antivirus .info {
	padding: 5px;
	font-family: WYekan, BYekan, Tahoma;
	font-size: 13px;
	color: #292A2D
}

.container.Antivirus .info div {
	float: right;
	display: inline-block
}

.container.Antivirus .info .title {
	font-size: 16px;
	margin-top: 5px;
	color: #FFF
}

.container.Antivirus .info .description {
	text-align: right
}

.container.Antivirus .info .operator.Antivirus {
	background-size: 100% 400%!important;
	cursor: default
}

.container.Antivirus .Antivirus .buy {
	display: none
}

fieldset .operators.Antivirus {
	width: 100%
}

.Antivirus.operator {
	border: 1px solid #e0dedf;
	cursor: pointer;
	height: 55px;
	margin: 5px;
	width: 150px
}

.operator.Eset {
	background: url(../img/antivirus.jpg) no-repeat 0 0
}

.operator.BitDefender {
	background: url(../img/antivirus.jpg) no-repeat 0 -60px
}

.operator.Kaspersky {
	background: url(../img/antivirus.jpg) no-repeat 0 -118px
}

.operator.Norton {
	background: url(../img/antivirus.jpg) no-repeat 0 -175px
}

.InternetPackage {
	width: 100%;
}

.container.InternetPackage .info {
	color: #292a2d;
	font-family: WYekan, BYekan, Tahoma;
	font-size: 13px;
	padding: 5px;
}

.container.InternetPackage .info div {
	display: inline-block;
	float: right;
}

.internetPackage-count .amount-container {
	width: 100%;
	margin-bottom: 4px;
	margin-right: 3px;
}

.InternetPackage.operator {
	background-size: 200% 310% !important;
	border: 1px solid #e0dedf;
	cursor: pointer;
	height: 80px;
	margin: 5px;
	width: 150px;
}

.operator.IN-MTN-Hourly {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll -147px -2px
}

.operator.IN-MTN-Daily {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll 0px -2px
}

.operator.IN-MTN-Weekly {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll -147px -80px
}

.operator.IN-MTN-Monthly {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll -1px -80px
}

.operator.IN-MTN-Amazing {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll -147px -158px
}

.operator.IN-MTN-TDLTE {
	background: #ffbd00 url("../img/internet-package.png") no-repeat scroll 0 -158px
}

.container.InternetPackage .InternetPackage {
	display: block;
}

.back-button {
	background-color: #fac382;
	color: #fff;
	cursor: pointer;
	float: left!important;
	margin: 3px 0;
	padding: 0 5px;
	font-size: 100%
}

div#payment-process {
	display: none
}

.cover {
	background-color: #000;
	color: #fff;
	height: 100%;
	width: 100%;
	left: 0;
	opacity: .75;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: none
}

div.connecting {
	background-color: #fff;
	border: 2px solid #727272;
	border-radius: 10px;
	color: #222;
	display: none;
	font-family: WYekan, BYekan, Tahoma;
	height: 85px;
	opacity: 1;
	position: fixed;
	width: 190px;
	z-index: 14801
}

.connecting > p {
	background: url(../img/load.gif) no-repeat scroll right center rgba(0, 0, 0, 0);
	margin-right: 25px;
	margin-top: 32px;
	padding-right: 25px
}

div.verify div.Bill {
	display: block!important
}

div.verify table#bill-info {
	margin: 4px auto!important;
	text-align: center
}

table.no-style td {
	background-color: unset!important;
	border: none;
	padding: 3px
}

#content span {
	font-family: 'BYekan', tahoma;
	font-size: 76%;
	height: 31px
}

div.verify div#left div#description p {
	width: 280px!important
}

div.container.verify {
	margin: 10px 15px
}

div.verify table {
	margin: 5px auto!important
}

.ltr {
	direction: ltr
}

div.verify div#left {
	bottom: 70px!important
}

.notify {
	display: none;
	background: none repeat scroll 0 0 #e4223d;
	border: 2px solid #fa2925;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
	color: #f6f4f5;
	font-size: 14px;
	height: 60px;
	line-height: 20px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	width: 180px;
	z-index: 2
}

.notify:after {
	border-color: #fa2925 transparent transparent;
	border-style: solid;
	border-width: 10px;
	content: "";
	height: 0;
	left: 90px;
	position: absolute;
	top: 82px;
	width: 0
}

.notify p {
	color: #F6F4F5
}

.Application {
	width: 100%;
	font-size: 100%!important
}

@media (max-width:768px) {
	img.application {
		background-size: 100% 400%;
		width: 100px;
		margin: -5px
	}
}

@media (min-width:768px) {
	img.application {
		background-size: 100% 400%;
		width: 160px
	}
}

.bgs.application .container {
	display: block!important;
	width: 640px!important;
	margin-top: 80px;
	position: relative
}

.bgs.application .container div#left {
	bottom: 0!important;
	float: left;
	left: 0;
	position: absolute;
	top: 0
}

.bgs.application #content {
	text-align: right!important;
	font-family: WYekan, BYekan, tahoma;
	font-size: 13px!important;
	color: #717172;
	text-align: justify!important;
	margin: 15px 0!important
}

.bgs.application #content li {
	margin-right: 30px
}

.bgs.application #content div.submit input {
	font-family: WYekan, BYekan, Tahoma!important;
	font-size: 26px!important;
	margin: 10px 85px!important;
	cursor: pointer
}

a.application {
	bottom: 0;
	position: fixed;
	right: 0;
	height: 150px
}

.qr {
	background-color: #fff;
	border: 1px solid #e3e1e2;
	color: #1b4986;
	opacity: .85;
	margin-top: 20px
}

.bgs.application .qr .description {
	float: right;
	font-family: "BYekan";
	font-size: 13px;
	font-weight: 400;
	margin: 12px;
	width: 355px
}

.qr .description > p {
	color: #1b4986;
	margin-bottom: 5px
}

.bgs.application .qr .qrcode {
	float: left;
	height: 90px;
	margin: 10px;
	width: 90px
}

.bgs.application .application-deactive {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	border-radius: 8px;
	color: #b94a48;
	display: none;
	font-family: WYekan, BYekan, tahoma;
	font-size: 17px;
	margin: 30px 40px 20px 0;
	padding: 14px;
	text-align: center
}

.bgs.application #logo {
	cursor: default
}

#logo > span {
	color: #fff;
	font-family: WYekan, BYekan;
	font-size: 11px;
	position: absolute;
	right: 62px;
	top: 138px;
	cursor: default
}

.application-logo {
	height: 12px;
	position: absolute;
	right: 48px;
	top: 141px;
	width: 12px
}

div #description h1,
div #description p {
	font-size: 13px;
	font-weight: 400;
	font-family: WYekan, BYekan, tahoma;
	line-height: 20px;
	margin: 5px 10px 5px 40px;
	color: #717172;
	text-align: center;
	text-shadow: 0 2px 1px #BBBABA;
	width: 250px
}

div #description h1 {
	font-size: 16px;
	color: #717172
}

div.failed {
	margin: 40px 0
}

div.failed .logo {
	width: 50%;
	height: 128px;
	background: url(../img/warning.png) no-repeat 0 0;
	margin: 0 auto;
	background-position: center
}

div.failed .explanation {
	margin: 45px auto;
	width: 100%;
	text-align: center
}

div.failed .explanation p {
	font-size: 13px;
	margin: 10px;
	text-align: justify
}

div.failed .explanation h1,
div.failed .explanation h2 {
	color: #717172
}

.bgs.result {
	margin-top: -1px!important
}

.bgs.result .menu {
	margin-top: -80px
}

.bgs.result .container {
	margin-top: 79px
}

.bgs.result div#content {
	width: 100%
}

.product-menu {
	float: right;
	height: 559px;
	width: 22%
}

.product-menu ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0
}

.product-menu ul li {
	float: right;
	width: 10px;
	height: 73px;
	cursor: pointer
}

.product-menu ul li .nav_pic {
	margin-top: 33px
}

.product-menu ul li.nav {
	background-color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.product-menu ul li.nav.TopUp {
	background-color: #767332
}

.product-menu ul li.nav.PIN {
	background-color: #302851
}

.product-menu ul li.nav.WiMax {
	background-color: #0B9DA4
}

.product-menu ul li.nav.Bill {
	background-color: #853BD9
}

.product-menu ul li.nav.GiftCard {
	background-color: #FF7400
}

.product-menu ul li.nav.Antivirus {
	background-color: #2B6AAF
}

.product-menu ul li.nav.Application {
	background-color: #98C220
}

.product-menu ul li.nav.Support {
	background-color: #055058
}

.product-menu ul li.nav.InternetPackage {
	background-color: #B51A05
}

.product-menu ul li.nav {
	height: 64px;
	width: 100%!important
}

.product-menu ul li.nav img {
	width: 60px;
	height: 60px
}

.nav.services {
	width: 62px;
	height: 62px
}

.services.TopUp {
	background: url(../img/products.png) no-repeat scroll center 0
}

.services.PIN {
	background: url(../img/products.png) no-repeat scroll center -70px
}

.services.WiMax {
	background: url(../img/products.png) no-repeat scroll center -140px
}

.services.Bill {
	background: url(../img/products.png) no-repeat scroll center -210px
}

.services.GiftCard {
	background: url(../img/products.png) no-repeat scroll center -280px
}

.services.Antivirus {
	background: url(../img/products.png) no-repeat scroll center -350px
}

.services.Application {
	background: url(../img/products.png) no-repeat scroll center -420px
}

.services.Support {
	background: url(../img/products.png) no-repeat scroll center -490px
}

.services.InternetPackage {
	background: url(../img/products.png) no-repeat scroll center -562px
}

.services:hover {
	z-index: 10
}

.warn {
	background: rgba(0, 0, 0, 0) url(../img/caution-small.png) no-repeat scroll right 12px;
	color: #1d1d1e;
	font-size: 12px;
	margin-right: 5px;
	padding: 12px 20px 1px 10px !important;
	text-align: justify;
	width: 100%
}

.phone-support {
	background: url(../img/phone-icon.png) no-repeat;
	height: 72px
}

.gmail-support {
	background: url(../img/Gmail-icon.png) no-repeat;
	height: 72px;
	margin-top: 60px
}

.help-support {
	background: url(../img/help-icon.png) no-repeat;
	height: 72px;
	margin-top: 60px;
	cursor: pointer
}

.desktop-support {
	background: rgba(0, 0, 0, 0) url(../img/desktop-icon.png) no-repeat scroll 5px -7px;
	height: 72px;
	margin-top: 60px;
	cursor: pointer
}

.Support p {
	color: #FFF;
	margin: 6px
}

.container .Support,
.container.Support .payment-gateways {
	display: none
}

.container.Support .Support {
	display: block
}

.container .Application,
.container.Application .GiftCard,
.container.Application .Antivirus,
.container.Application .TopUp,
.container.Application .MTN,
.container.Application .MCI,
.container.Application .RTL{
	display: none
}

.container .Application {
	display: none
}

.container.Application .Application {
	display: block
}

.Support div {
	margin-top: -50px
}

.Support > div {
	color: #fff;
	margin: 30px auto;
	width: 215px;
	margin-bottom: 0
}

.GiftCard {
	width: 100%
}

.info {
	width: 95%
}

.products-info table {
	width: 95%
}

.input.text.required.account {
	margin: 4px 3px 5px
}

.input.text.email {
	margin: 3px 3px 5px
}

.input.text.required.billId {
	margin: 6px 3px
}

.input.text.required.paymentId {
	margin: 3px 3px 6px
}

.submit {
	margin: 0 auto;
	text-align: center
}

.first {
	color: #fff;
	float: right;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 78%;
	text-align: center;
	font-size: 18px
}

.first li {
	background-color: #313131!important;
	border-bottom: 2px solid #222;
	height: 64px;
	width: 100%;
	line-height: 66px;
	cursor: pointer
}

#Application-content > ul {
	font-size: 13px;
	list-style: outside none none;
	padding: 1px;
	line-height: 1.5;
	text-align: justify;
	font-family: WYekan, BYekan, tahoma
}

div#logo {
	cursor: pointer;
	height: 51px;
	float: left
}

.application-deactive {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	color: #b94a48;
	display: none;
	font-family: WYekan, BYekan, tahoma;
	font-size: 13px;
	text-align: center
}

#Application-content h4 {
	padding-left: 20px;
	text-align: justify;
	width: 65%;
	margin-top: 2px;
	margin-bottom: 10px
}

.Support p {
	padding: 10px 0 20px;
	width: 80%;
	float: right;
	line-height: 25px;
	color: #FFF!important
}

.bill-picture {
	background: url(../img/bill-background.png) no-repeat;
	height: 200px;
	background-position: center
}

.bill-info-td td {
	text-align: center
}

.second {
	display: none
}

.buy-details {
	margin-top: 28px;
	text-align: center;
	width: 100%
}

.pin-info td {
	border: 0 solid;
	background: #FFF!important
}

.products-info {
	margin: 30px 0;
	text-align: center
}

.products-info th {
	background: #fff none repeat scroll 0 0;
	color: #000;
	text-align: center
}

.container.verify {
	background: #a7abae
}

.input.text {
	width: 100%
}

#chargeform {
	width: 99%;
}

.form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	vertical-align: middle;
	width: 100%
}

.input.text.required.amount {
	margin: 0 3px 5px
}

#GiftCardGooglePlayTypes {
	width: 100%
}

.input.text.giftcard-types {
	margin: 6px 3px
}

.input.text.internetPackage-types {
	margin: 6px 3px
}

.charge-select {
	text-align: center!important;
	height: 31px!important;
	width: 50%
}

.count {
	float: right;
	width: 45%!important
}

.giftcard-select {
	width: 100%
}

.giftcard-count {
	text-align: center!important;
	height: 31px!important;
	width: 50%
}

.GiftCard .buy .amount-container {
	background-color: #f6f4f5;
	color: #5c5c5c
}

.antivirus-types select {
	width: 100%
}
.internetPackage-categories{
	margin: 6px 3px;
}
.internetPackage-types select,.internetPackage-categories select {
	width: 100%
}

.antiviruse-count {
	margin: 0 4px 2px 0;
	float: right
}

.antiviruse-count select {
	text-align: center!important;
	height: 31px!important;
	width: 50%
}

.payment-gateways {
	width: 100%;
	margin-top: 5px
}

.charge-amount {
	margin: 3px 5px 0 1px
}

.check-bill {
	margin: 20px 3px;
	text-align: center;
	width: 100%
}

.bgs-display {
	display: block!important
}

.buy-details h2 {
	padding: 10px;
	color: #FFF
}

table thead {
	color: #f2f2f2
}

.bgs-content {
	text-align: center;
	width: 100%!important;
	margin: 0!important
}

.explanation p {
	color: #7C7775;
	text-align: center!important
}

.buy-details-count {
	padding-right: 15px
}

.buy-details-number {
	text-align: right
}

.product-count {
	background: #f2f2f2 none repeat scroll 0 0;
	color: #000;
	padding: 8px 10px
}

.bill-info-td {
	color: #f2f2f2
}

.application-submit > input {
	padding: 0!important;
	width: 100%!important
}

.application-submit {
	padding: 0;
	width: 100%!important
}

.Antivirus {
	width: 100%
}

.verify #bill-info td {
	background-color: #F2F2F2;
	border: 2px solid;
	color: #020103;
	font-size: 13px;
	opacity: .85;
	padding: 4px!important
}

.container.verify.bgs-content.PinProduct td {
	background-color: #e7e7e8
}

.verify #bill-info span {
	font-size: 12px
}

.container.verify.TopUp .explanation h1,
h2,
p,
.container.verify.Bill .explanation h1,
h2,
p,
.container.verify.WiMax .explanation h1,
h2,
p,
.container.verify.GiftCard .explanation h1,
h2,
p,
.container.verify.PinProduct .explanation h1,
h2,
p {
	color: #222!important
}

#bill-info #email {
	font-size: 9px
}

@media (max-width:360px) {
	.container.GiftCard .info .operator.GiftCard {
		background-size: 200% 400%!important;
		cursor: default;
		height: 41px;
		width: 65px
	}
	.container.GiftCard .info .GiftCard.operator.GooglePlay {
		background: url(../img/gift-cards.png) no-repeat -65px 0
	}
	.container.GiftCard .info .GiftCard.operator.iTunes {
		background: rgba(0, 0, 0, 0) url(../img/gift-cards.png) no-repeat scroll -65px -41px
	}
	.container.GiftCard .info .GiftCard.operator.XBox {
		background: rgba(0, 0, 0, 0) url(../img/gift-cards.png) no-repeat scroll -65px -82px
	}
	.container.GiftCard .info .GiftCard.operator.Microsoft {
		background: url(../img/gift-cards.png) no-repeat 0 0
	}
	.container.GiftCard .info .GiftCard.operator.Amazon {
		background: url(../img/gift-cards.png) no-repeat 0 -41px
	}
	.container.GiftCard .info .GiftCard.operator.PlayStation {
		background: url(../img/gift-cards.png) no-repeat 0 -82px
	}
	.container.GiftCard .info .GiftCard.operator.PlayStationPlus {
		background: url(../img/gift-cards.png) no-repeat -65px -122px
	}
}

@media (max-width:800px) {
	.container.Bill .pay input[type="button"] {
		background-color: #33016d!important;
		line-height: 2px;
		width: 100%!important;
		font-size: 25px!important
	}
}

@media (min-width:800px) {
	.container.Bill .pay input[type="button"] {
		background-color: #33016d!important;
		line-height: 2px;
		padding-bottom: 18px!important;
		padding-right: 30px!important;
		width: 100%!important;
		font-size: 30px!important
	}
}

@media (min-width:360px) {
	.container.GiftCard .info .operator.GiftCard {
		background-size: 200% 400%!important;
		cursor: default;
		height: 62px;
		width: 111px
	}
	.container.GiftCard .info .GiftCard.operator.GooglePlay {
		background: url(../img/gift-cards.png) no-repeat scroll -110px 0
	}
	.container.GiftCard .info .GiftCard.operator.iTunes {
		background: rgba(0, 0, 0, 0) url(../img/gift-cards.png) no-repeat scroll -110px -62px
	}
	.container.GiftCard .info .GiftCard.operator.XBox {
		background: rgba(0, 0, 0, 0) url(../img/gift-cards.png) no-repeat scroll -110px -124px
	}
	.container.GiftCard .info .GiftCard.operator.Microsoft {
		background: url(../img/gift-cards.png) no-repeat 0 0
	}
	.container.GiftCard .info .GiftCard.operator.Amazon {
		background: url(../img/gift-cards.png) no-repeat 0 -62px
	}
	.container.GiftCard .info .GiftCard.operator.PlayStation {
		background: url(../img/gift-cards.png) no-repeat 0 -125px
	}
	.container.GiftCard .info .GiftCard.operator.PlayStationPlus {
		background: url(../img/gift-cards.png) no-repeat -110px -185px
	}
}

@media (min-width:360px) {
	.container.InternetPackage .info .operator.InternetPackage {
		background-size: 200% 300%!important;
		cursor: default;
		height: 62px;
		width: 110px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Hourly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll -108px 0
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Daily {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0px 0px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Weekly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll -108px -59px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Monthly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0px -59px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Amazing {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll -108px -117px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-TDLTE {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0 -117px
	}
}

@media (max-width:360px) {
	.container.InternetPackage .info .operator.InternetPackage {
		background-size: 200% 300%!important;
		cursor: default;
		height: 30px;
		width: 60px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Hourly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat -58px 0
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Daily {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0px 0px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Weekly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll -58px -27px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Monthly {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0px -27px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-Amazing {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll -58px -54px
	}
	.container.InternetPackage .info .InternetPackage.operator.IN-MTN-TDLTE {
		background: #ffbd00 url(../img/internet-package.png) no-repeat scroll 0 -54px
	}

	.sim-type-container label {
		display:block;
	}
}

@media (max-width:360px) {
	.container.Antivirus .info .operator.Antivirus {
		background-size: 100% 400%!important;
		cursor: default;
		height: 30px;
		width: 60px
	}
	.container.Antivirus .info .Antivirus.operator.Eset {
		background: url(../img/antivirus.jpg) no-repeat 0 0
	}
	.container.Antivirus .info .Antivirus.operator.BitDefender {
		background: url(../img/antivirus.jpg) no-repeat 0 -28px
	}
	.container.Antivirus .info .Antivirus.operator.Kaspersky {
		background: url(../img/antivirus.jpg) no-repeat 0 -57px
	}
	.container.Antivirus .info .Antivirus.operator.Norton {
		background: url(../img/antivirus.jpg) no-repeat 0 -85px
	}
}

@media (min-width:360px) {
	.container.Antivirus .info .operator.Antivirus {
		background-size: 100% 400%!important;
		cursor: default;
		height: 50px;
		width: 100px
	}
	.container.Antivirus .info .Antivirus.operator.Eset {
		background: url(../img/antivirus.jpg) no-repeat 0 0
	}
	.container.Antivirus .info .Antivirus.operator.BitDefender {
		background: url(../img/antivirus.jpg) no-repeat 0 -48px
	}
	.container.Antivirus .info .Antivirus.operator.Kaspersky {
		background: url(../img/antivirus.jpg) no-repeat 0 -96px
	}
	.container.Antivirus .info .Antivirus.operator.Norton {
		background: url(../img/antivirus.jpg) no-repeat 0 -145px
	}
}

@media (max-width:800px) {
	.pay {
		text-align: center;
		border: medium none!important;
		height: 40px;
		margin: 0 auto;
		width: 210px!important;
		cursor: pointer
	}
	.btn-pay {
		border: medium none!important;
		color: #fff!important;
		float: left;
		height: 40px;
		padding: 0 0 10px!important;
		width: 155px!important;
		font-size: 180%!important;
		line-height: 1
	}
	.pay-submit {
		background: url(../img/submit.png) no-repeat scroll -11px -5px;
		height: 40px;
		width: 50px;
		float: right
	}
	.download-android {
		background: url(../img/submit.png) no-repeat -80px -6px;
		height: 40px;
		width: 50px;
		float: right
	}
}

@media (min-width:800px) {
	.pay {
		text-align: center;
		border: medium none!important;
		height: 50px;
		margin: 0 auto;
		width: 250px!important;
		cursor: pointer
	}
	.btn-pay {
		border: medium none!important;
		color: #fff!important;
		float: left;
		height: 50px!important;
		width: 180px!important;
		font-size: 180%!important;
		line-height: 1.5
	}
	.pay-submit {
		background: url(../img/submit.png) no-repeat 0 0;
		height: 50px;
		width: 70px;
		float: right
	}
	.download-android {
		background: url(../img/submit.png) no-repeat -70px 0;
		float: right;
		height: 50px;
		width: 70px
	}
}

.fa-white {
	color: #FFF!important
}

.container.PIN form.MTN .btn-pay,
.container.TopUp form.MTN .btn-pay {
	background-color: #ff8b0c!important
}

.container.PIN form.MTN .pay,
.container.TopUp form.MTN .pay {
	background-color: #fd7512!important
}

.container.PIN form.MCI .btn-pay,
.container.TopUp form.MCI .btn-pay {
	background-color: #02a9d1!important
}

.container.PIN form.MCI .pay,
.container.TopUp form.MCI .pay {
	background-color: #037e9c!important
}

.container.PIN form.RTL .btn-pay,
.container.TopUp form.RTL .btn-pay {
	background-color: #77024c!important
}

.container.PIN form.RTL .pay,
.container.TopUp form.RTL .pay {
	background-color: #4f0232!important
}
.container.WiMax form.WiMax .btn-pay {
	background-color: #038187!important
}

.container.WiMax form.WiMax .pay {
	background-color: #025a5e!important
}

.container.GiftCard .btn-pay {
	background-color: #d86f17!important
}

.container.GiftCard .pay {
	background-color: #bd5701!important
}

.container.InternetPackage .btn-pay {
	background-color: #9c291a!important
}

.container.InternetPackage .pay {
	background-color: #600e03!important;
	position: relative;
	bottom: 10px;
}

.container.Antivirus .btn-pay {
	background-color: #044b99!important
}

.container.Antivirus .pay {
	background-color: #023165!important
}

.container.Application .btn-pay {
	background-color: #6f9602!important
}

.container.Application .pay {
	background-color: #475f03!important
}

.container.Bill .btn-pay {
	background-color: #4f03a6!important
}

.container.Bill .pay {
	background-color: #33016d!important
}

.pay i {
	padding: 4px
}

.buy-details span {
	font-size: 85%!important
}

.bill {
	width: 100%
}

.check {
	width: 100%
}

.product-menu span {
	display: none
}

#download-application {
	font-size: 75%!important
}

#download-application .btn-pay {
	padding: 5px!important
}

.input.text.antivirus-types {
	margin: 6px 3px 4px
}

.payment-gateways > h4 {
	margin: 0
}

.wimax-picture {
	background: rgba(0, 0, 0, 0) url(../img/wimax-background.png) no-repeat scroll center center;
	height: 120px
}

.product-menu .active span {
	color: #fff;
	display: block;
	text-align: center
}

.nav.services.active > span {
	opacity: .8;
	background: rgba(0, 0, 0, 0.72) none repeat scroll 0 0;
	font-size: 11px;
	margin-top: 46px;
	line-height: 18px
}

.container.verify .return-mainpage {
	background: rgba(0, 0, 0, 0) url(../img/submit.png) no-repeat -150px -5px;
	height: 40px;
	width: 50px;
	float: right
}

.return {
	text-align: center;
	border: medium none!important;
	height: 40px;
	margin: 0 auto;
	width: 250px!important;
	cursor: pointer
}

.container .return {
	background-color: #4d7173!important;
	margin: 15px auto
}

.container .mainpage {
	background-color: #63888a!important;
	padding: 0 24px 1px;
	color: #FFF
}

.mainpage {
	font-family: wyekan;
	font-size: 19px;
	height: 40px;
	text-decoration: none
}

@media(min-width:360px) {
	div.payment-gateways li {
		background-color: #fff;
		background-image: url(../img/payment-gateway.png);
		background-repeat: no-repeat;
		border: 2px solid #b9b9b9;
		cursor: pointer;
		display: none;
		font-family: Tahoma;
		font-size: 0;
		height: 50px;
		margin: 3px;
		width: 50px
	}
	div.payment-gateways li.bank-Mellat {
		background-position: -60px -52px
	}
	div.payment-gateways li.bank-Saman {
		background-position: -113px -54px
	}
	div.payment-gateways li.bank-Fanava {
		background-position: -215px -53px
	}
	div.payment-gateways li.bank-Zarinpal {
		background-position: -269px -53px
	}
	div.payment-gateways li.bank-Parsian {
		background-position: -8px -54px
	}
	div.payment-gateways li.active.bank-Parsian {
		background-position: -8px -5px
	}
	div.payment-gateways li.active.bank-Mellat {
		background-position: -60px -4px
	}
	div.payment-gateways li.active.bank-Saman {
		background-position: -113px -5px
	}
	div.payment-gateways li.active.bank-Fanava {
		background-position: -215px -4px
	}
	div.payment-gateways li.active.bank-Zarinpal {
		background-position: -269px -4px
	}
	.mobile-modal {
		max-width: 80%!important
	}
}

@media(max-width:360px) {
	div.payment-gateways li {
		margin: 0;
		padding: 0;
		list-style-type: none;
		border: 2px solid #B9B9B9;
		display: none;
		margin: 0 4x;
		background-color: #FFF;
		background-image: url(../img/payment-gateway.png);
		background-repeat: no-repeat;
		font-family: Tahoma;
		font-size: 0;
		width: 37px;
		height: 37px;
		cursor: pointer;
		margin: 1px 2px;
		background-size: 620% 215%
	}
	div.payment-gateways li.bank-Parsian {
		background-position: -3px -35px
	}
	div.payment-gateways li.bank-Mellat {
		background-position: -36px -34px
	}
	div.payment-gateways li.bank-Saman {
		background-position: -69px -35px
	}
	div.payment-gateways li.bank-Melli {
		background-position: -135px -45px
	}
	div.payment-gateways li.bank-Fanava {
		background-position: -134px -35px
	}
	div.payment-gateways li.bank-Zarinpal {
		background-position: -168px -35px
	}
	div.payment-gateways li.active.bank-Parsian {
		background-position: -3px -2px
	}
	div.payment-gateways li.active.bank-Mellat {
		background-position: -36px -2px
	}
	div.payment-gateways li.active.bank-Saman {
		background-position: -69px -2px
	}
	div.payment-gateways li.active.bank-Melli {
		background-position: -135px 0
	}
	div.payment-gateways li.active.bank-Fanava {
		background-position: -134px -2px
	}
	div.payment-gateways li.active.bank-Zarinpal {
		background-position: -168px -2px
	}
	.mobile-modal {
		max-width: 95%!important
	}
}

div.save-information {
	text-align: right
}

#content tbody {
	background: #fff none repeat scroll 0 0
}

.verify #content .TopUp {
	background: url(../img/recharge.png) no-repeat scroll center 0;
	height: 140px
}

.verify #content .CC {
	background: url(../img/pin.png) no-repeat scroll center 0;
	height: 140px
}

.verify #content .AN {
	background: url(../img/antivirus.png) no-repeat scroll center 0;
	height: 140px
}

.verify #content .bill {
	background: url(../img/bill.png) no-repeat scroll center 0;
}

.verify #content .GC,
.verify #content .TC {
	background: url(../img/gift-card.png) no-repeat scroll center 0;
	height: 140px
}
.verify #content .InternetPackage {
	background: url(../img/in-success.png) no-repeat scroll center 0;
	height: 140px
}

.PinName {
	color: #000005
}

@media (max-width:360px) {
	table#bill-info {
		margin: 0 auto 5px!important;
		width: 90%
	}
	.PinProduct-table {
		width: 90%
	}
}

@media (min-width:370px) {
	table#bill-info {
		margin: 0 auto 5px!important;
		width: 45%
	}
	.PinProduct-table {
		width: 40%
	}
}

input[type="radio"] {
	width:auto !important;
	height:auto !important;
}
.mw-200 {
	max-width: 200px;
}

.sim-type-container{
	display: inline-block;
}
.sim-type-container label{
	float: right;
	width: 50%;
}